.mainheading{
      text-align : center;
}
body{
background-image: url('http://ak9.picdn.net/shutterstock/videos/12265379/thumb/1.jpg');
background-repeat : no-repeat;
background-size : cover;
margin: 0;
padding: 0;
}